# environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo

# DB
*.db
*.db-shm
*.db-wal

# Docker Ovverride files
docker-compose.override.yml

# Data volumes
data/

# env
.env
tmp/

# design
CLAUDE.md
.claude/
